<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
    <h2 th:text="'List of Owners'">List of Owners</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <th th:text="${owner.getId()}">ID</th>
        <th th:text="${owner.getFirstName()}">First Name</th>
        <th th:text="${owner.getLastName()}">Last Name</th>
    </tr>
    </tbody>
</table>
</body>
</html>